/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 //*=require trix

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import "layouts";

 body {font-family: "Lato", sans-serif;}


.my_style_class {
    width: 100%;
}

.card {
    
    padding: 10%;
}

.nav {

    list-style-type: none;
    font-size: 1.5em; 
    overflow: hidden;
}


/* Change background color of links on hover */


/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
}


.logosign {
   
    margin-left: -10%;
    width: 110%;
    margin-top: 20%;
    text-align: left;
}


//esto debe ir en users, pero por algun motivo no me agarra
//user
.modal {
    top:10%;
    left:5%;
    outline: none;
    size:90%;
    }


.namexp {
    font-size: 32px;
    color: #2D487F;
}

.titlexp{
    font-size: 14px;
    color: gray;
    float: left;
    display: inline;
    //margin-bottom:2%;
    //margin-left:6%;
}

.emailexp{
    font-size: 12px;
    color: #2D487F;
    right: 0;
    display: inline;
    float: right;
}

col{
    background-color: #2D487F; 
}



.img-circle {
    border-radius: 50%;
    margin-left:5%;
    margin-bottom:5%;
    margin-top:5%;
}





// dd----------------------------------------
#signintitle {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    &.retroshadow {
        color: #2c2c2c;
        background-color: white;
        letter-spacing: .05em;
        text-shadow: 4px 4px 0px white, 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
}