// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

label>input+i {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

label>input:checked+i {
    /* (RADIO CHECKED) IMAGE STYLES */
    background: #F8F9FA;
    color: #2D487F;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: black;
}