// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: rgb(241, 231, 201);
}


.select {
   font-size: 100px;
}




.iconbig{
    size:300px;
    color:red;
    background-color: red;
}

.modal {
    top:5%;
    right:80%;
    outline: none;
    }

