.col-12.footer
    %div.align-top
        .col-8
            %a{target: "_blank" , :href => "https://www.instagram.com/academia_hack/?hl=en"} 
                %i.fab.icon_footer.fa-instagram.float-left
        .col-8
            %a{target: "_blank" , :href => "https://www.facebook.com/AcademiaHack/"}
                %i.fab.icon_footer.fa-facebook-f.float-left
        .col-8
            %a{target: "_blank" , :href => "https://twitter.com/academia_hack?lang=en"}
                %i.fab.icon_footer.fa-twitter.float-left
  