.container.justify-content-md-center
  .col.col-lg-2
  .col-md-auto
    .row
      .col-6 
        =image_tag "hackboard_logo.svg", class: "logosign"
        %h1.retroshadow#signintitle Opina, Pregunta, Crece   
      .col-6
        .card
          %ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}             
            %li.nav-item
              %a#pills-home-tab.nav-link{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-home", :role => "tab"} Register Error
       
    
          #pills-tabContent.tab-content
            #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel"} 
              = render "users/registrations/new"
  .col.col-lg-2


